{% extends 'base.html.twig' %}
{% block title %}
    {{ produit.nom }} | {{ produit.action }}
{% endblock %}

{% block body %}

    {% include 'partials/menu.html.twig' %}
    <div class="all-title-box3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="color: white">{{ produit.nom }}</h2>
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">Accueil</a></li>
                            <li>{{ produit.nom }}</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="features" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <small></small>
                    <h3 style="color: #a8cf45;"><strong>{{ produit.nom }}</strong></h3>
                </div><!-- end col -->
            </div><!-- end title -->

            <hr class="invis">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <img src="{{ vich_uploader_asset(produit, 'imageFile') }}" alt="{{ produit.slug }}" class="img-responsive">
                        </div><!-- end media -->
                    </div>
                    <div class="col-md-6">
                        <div class="message-box right-ab">
                            <h2>Nom: <strong>{{ produit.nom }}</strong></h2>
                            <h4>Prix: <strong style="color: #a8cf45">{{ produit.prix | number_format(2, ',', '.') }} <sup>€</sup></strong></h4>
                            <p>Action: <strong>{{ produit.action }}</strong></p>
                        </div>
                    </div>

                </div><!-- end row -->
                <p>
                    <br><br>
                <h3>Description</h3>
                {{ produit.description | raw }}
                </p>
            </div>


        </div><!-- end container -->
    </div><!-- end section -->



    {% include 'partials/footer.html.twig' %}
{% endblock %}


