
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <img src="/image/logo-marabout-chiva.png" alt="logo-marabout-chiva.png">
                    </div>
                    <p>Avec le grand maitre marabout chiva vous êtes en de bonne mains. Amour, bonheur, richesse, chance, protection et guerison seront toujours avec vous</p>
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Liens Utile</h3>
                    </div>

                    <ul class="twitter-widget footer-links">
                        <li><a href="{{ path('home') }}"> Accueil </a></li>
                        <li><a href="{{ path('astuces') }}"> Astuces </a></li>
                        <li><a href="{{ path('produits') }}"> Produits</a></li>
                        <li><a href="{{ path('about') }}"> A propos</a></li>
                        <li><a href="{{ path('contact') }}"> Contact</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="mailto:info@marabout-chiva.com">info@marabout-chiva.com</a></li>
                        <li><a href="mailto:marabout.maitre@gmail.com">marabout.maitre@gmail.com</a></li>
                        <li><a href="#">www.marabout-chiva.com</a></li>
                        <li>Cotonou 00229 BENIN</li>
                        <li>00229 979 032 57</li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Social</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                        <li><a href="web.whatsapp.com"><i class="fa fa-whatsapp"></i> 00229 979 032 57</a></li>
                        <li><a href="#"><i class="fa fa-mobile"></i> 00229 979 032 57</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-company-name">Copyright : <a href="https://marabout-chiva.com/">marabout-chiva.com</a> All Rights Reserved. &copy; 2020 </p>
            </div>

        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>