<!-- LOADER -->
<div id="preloader">
    <span class="loader"><span class="loader-inner"></span></span>
</div><!-- end loader -->
<!-- END LOADER -->

<header class="header header_style_01">
    <nav class="megamenu navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}"><img src="/image/marabout.png" alt="image"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a {% if page == 'home' %}class="active"{% endif %} href="{{ path('home') }}">Accueil</a></li>
                    <li><a {% if page == 'produits' %}class="active"{% endif %} href="{{ path('produits') }}">Produits</a></li>
                    <li><a {% if page == 'astuces' %}class="active"{% endif %} href="{{ path('astuces') }}">Astuces</a></li>
                    <li><a {% if page == 'about' %}class="active"{% endif %} href="{{ path('about') }}">A propos </a></li>
                    <li><a {% if page == 'contact' %}class="active"{% endif %} href="{{ path('contact') }}">Contact</a></li>
                    <li class="social-links"><a href="#"><i class="fa fa-twitter global-radius"></i></a></li>
                    <li class="social-links"><a href="#"><i class="fa fa-facebook global-radius"></i></a></li>
                    <li class="social-links"><a href="#"><i class="fa fa-linkedin global-radius"></i></a></li>

                </ul>
            </div>
        </div>
    </nav>
</header>